.usercart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table{
    width: 60%;
    border-collapse: collapse;
   
}
.table th, .table td{
    padding:1%;
    text-align: left;
    width: 10%;
    border-bottom: 1px solid black;
}

.table td img{
    height: 2%;
    width: 20%;
    
}


.cost{
    margin-top: 80px;
   
}

.cost h2{
    margin-left: 38%;
}

.cost button{
    width:160px;
    height: 41px;
    background-color: rgba(234,62,54);
    color: white;
    border:none;
    margin-left: 10px;

} 
.tax{
    display: flex;
    justify-content: space-around;

}
.tax p{
    font-size: 20px;
}

@media (max-width:380px){
    .table{
        width: 98%;
        
    }
    .table td img{
        height: 20%;
        width: 32%
        
    }
    .table th, .table td{
        padding-left:3%;
        width: 18%;
        
    }
}